/* (A) FONT */
#ctime, #tpick {
  font-family: Impact, sans-serif;
}
.header1 {
  text-align: center;
  font-weight: normal;
  margin: 5px 0 10px 0;
}

#heading{
  text-align: center;
  color: white;
  font-family: monospace;
  font-weight: bolder;

}

#taskForm2{
  width: 25rem;
  height: 30rem;
  background: rgba(0,0,0,0.3);
  border: none;
  border-radius: 3rem;
  text-align: center;
  color: white;
  font-family: monospace;
  font-weight: bolder;
  margin-left: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* (B) CURRENT TIME */
#ctime {
  margin: 0 auto;
  max-width: 350px;
  padding: 10px;

  text-align: center;
}
#ctime .header1 {
  color: #c61d1d;
}
#ctime .square {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}
#ctime .digits {
  font-size: 24px;
  background: #fff;
  color: #000;
  padding: 20px 10px;
  border-radius: 5px;
}
#ctime .text {
  margin-top: 10px;
  color: #ddd;
  font-family: monospace;
  font-weight: lighter;
  font-size: 24px;
}

/* (C) TIME PICKER */
#tpick {
  margin: 0 auto;
  max-width: 350px;
  padding: 10px;

  white-space: nowrap;
}
#tpick-h, #tpick-m, #tpick-s {
  display: inline-block;
  width: 32%;
}
#tpick select {
  box-sizing: padding-box;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0;
}
#tset, #treset {
  /*box-sizing: padding-box;
  width: 50%;
  background: #3368b2;
  color: #fff;
  padding: 10px;
  border: 0;
  cursor: pointer;*/
  padding: 0.5rem;
  font-size: 2rem;
  width: 5rem;
  border: none;
  background: white;
  border-radius: 3rem;
  font-size: 1rem;
  font-family: monospace;
  text-align: center;
  font-weight: bolder;
  color: white;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
  transition: all 0s ease;
}
#tset:hover, #treset:hover {
  background: white;
  color: black;
}
#tset:disabled, #treset:disabled {
  background: white;
  color: grey;
}

#textblock {
  width: 30rem;
  background: rgba(0,0,0,0.2);
  border: none;
  border-radius: 3rem;
  padding: 1rem 1rem 0rem 1rem;
  height: 15rem;
  margin: 2rem;
}
